<div class='left-home-menu'>
    <h2>Welcome to Keppa!</h2>
    <div>
        <h4>
            <u>Keppa</u> (Compete) - Verb
        </h4>

        <h5>
            To strive consciously or unconsciously for an objective
        </h5>
    </div>

    <div>
        <h5>
            Keppa is the Icelandic word for "compete", an effort which is a common thread among our users and our team. 
        </h5>

        <h5>
            We do not focus solely on competition vs. others, but also vs. ourselves. We compete with the version of ourself from yesterday and the day before, moving forward one step at a time.
        </h5>
        
        <h5>
            Feel free to browse through our users' recent results! If you're ready to start competing with yourself as well, we'd love for you to join the movement!
        </h5>
    </div>
    
    <form action='/auth/google' id='see-more-form'>
        <button type='submit'>Log In With Google</button>
    </form>

</div>