<!DOCTYPE html>
<html>
  <head>
    <title>Race Results</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <%- include('./nav.ejs') -%> 
    <section class='body-section'>
        