:root {
  --main-purple: #6a56ac;
  --second-purple:  #d69ff0;
  --delete-red: rgb(218, 84, 84);
}

body {
  box-sizing: border-box;
  font: 14px; 
  font-family: 'Play', sans-serif;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  margin-left: 0;
}

.body-section {
  margin-top: 5vmax;
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* background-color: red; */
  height: 100%;
}

.right-body {
  grid-column-start: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 5%; */
}

a {
  color: #00B7FF;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}


/* NAV BAR */
nav {
  background-color: white;
  border-bottom: 1px solid rgba(186, 180, 180, 0.496);
  display: flex;
  width: 100%;
  height: 5vmax;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  /* margin-bottom: 10px; */
  z-index: 9;
  margin-left: 0;
}

nav > a {
  text-decoration: none;
}

h1 {
  display: block;
  align-self: center;
}

#nav-left {
  font-size: 350%;
  font-weight: 700;
  color: var(--main-purple);
  /* text-decoration: none; */
}

#nav-right > a{
  font-size: 120%;
  margin-left: 15px;
  margin-right: 25px;
  text-decoration: none;
  color: var(--main-purple);
}

#nav-right > a:hover {
  /* color: rgb(152, 4, 245); */
  text-shadow: 0 1px 1px #7b00ff;
  /* color: var(--main-purple); */
  /* -webkit-box-shadow: 0 0 10px var(--main-purple); */
  /* box-shadow: 0 0 10px var(--main-purple); */
}

.login {

}

form {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  border: 2px solid black;
  margin-top: 3.5%;
}

form > label, div {
  margin: 10px;
}

.comment-box {
  height: 8vh;
  width: 25vw;
}

#result-index-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 5vmax;
}

.left-menu {
  color: var(--main-purple);
  background-color: rgb(235, 228, 228);
  grid-column: 1 / span 1;
  width: 28%;
  height: 80%;
  position: fixed;
  display: flex;
  justify-content: center;
}

#all-results {
  grid-column: 2 / span 2;
  display: flex;
  background-color: rgb(233, 225, 225);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  width: 80%;
  /* margin-right: 10%; */
  padding: 40px;
}

.right-body {
  grid-row: 1fr 10fr;
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
}

.right-body > h1 {
  grid-template-rows: 1 / span 1;
  position: fixed;
  top: 5.06vmax;
  background-color: white;
  width: 65%;
  height: 10%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result-display-index {
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 2fr 3fr;
  grid-template-areas: 
  'avatar header'
  'aside main';
  align-items: wrap;
  justify-content: center;
  align-content: end;
  width: 90%;
  margin-top: 4%;
  border-radius: 3%;
}



.result-display-index > div:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}

#see-more-form {
  width: 100%;
  border: none;
}

#see-more-form > button {
  font-family: 'Play', sans-serif;
  font-size: large;
  background-color: white;
  }
  
  #see-more-form > button:hover {
  background-color: var(--second-purple);
  -webkit-box-shadow: 0 0 10px var(--main-purple);
    box-shadow: 0 0 10px var(--main-purple);
  }


#delete-form {
  width: 100%;
  border: none;
}

#delete-form > button {
font-family: 'Play', sans-serif;
font-size: large;
background-color: white;
}

#delete-form > button:hover {
background-color: var(--delete-red);
-webkit-box-shadow: 0 0 10px rgb(195, 49, 49);
  box-shadow: 0 0 10px rgb(201, 51, 51);
}

#index-image {
  display: flex;
  justify-content: flex-start;
}

#index-image > img {
  height: 300px;
  width: 300px;
  margin-left: 20px;
}

#placeholder {
  background-color: red;
  height: 40px;
  width: 40px;
}

.result-avatar {
  border-radius: 50%;
  margin: 5%;
  height: 120px; 
  width: 120px;
  grid-area: avatar;
  align-self: center;
  /* grid-row: 1 / span 1; */
  /* grid-column: 1 / span 1;  */
}

section > h2, h5 {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  display: block;
  margin-bottom: 1%;
}

div > h3 {
  border-bottom: 1px solid rgba(219, 213, 213, 0.496);
}

section > h4 {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  margin-bottom: 5%;
  display: block;
}

.result-display-showResult {
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-rows: 1fr auto auto auto 1fr;
  grid-template-columns: 1fr 6fr;
  grid-template-areas: 
  'avatar header'
  'aside aside';
  align-items: wrap;
  justify-content: center;
  width: 90%;
  margin-top: 4%;
  background-color: whitesmoke;
  box-shadow: 2px 2px 4px 4px var(--main-purple);
}

.result-show-contentResult {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
}

#result-show-name {
  color: var(--main-purple);
  text-decoration: none;
}

.result-show-contentResult > h3{
  margin-right: 50px;
  margin-left: 15px;
  border: none;
}

.result-show-contentResult > h3{
  margin-right: 50px;
  margin-left: 15px;
  border: none;
}

.result-display-showResult > div:nth-of-type(3) {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

#show-img {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
  align-self: center;
  height: 500px;
  width: 600px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

#show-img > img {
  height: 100%;
  width: 100%;
}

#placeholder-photo {
  height: 500px;
  width: 600px;
  background-color: var(--main-purple);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#comment-form {
  grid-row: 5 / span 1;
  grid-column: 2 / span 1;
  width: 600px;
  height: 80%;
  display: flex;
  justify-content: center;
  border: none;
}

#comment-form > textarea {
  width: 80%;
  height: 70%;
}

/* NEW RESULT PAGE */
#new-result-form {
  background-color: var(--main-purple);
  color: white;
  width: 85%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(1fr, 5);
}

#new-result-form > .title {
  grid-column: 1 / span 2;
  display: flex;
  width: 100%;
  justify-content: center;
}

#new-result-form > div:nth-of-type(1) {
  grid-column: 1 / span 2;
  display: flex;
  width: 98%;
  /* justify-content: space-around; */
}

#race-name {
  width: 70%;
  /* margin-right: 50px;  */
}

#race-name > input {
  width: 60%;
}

#new-result-form > div:nth-of-type(2) {
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
  display: flex;
  width: 98%;
  justify-content: space-around;
}

.time-input {
  width: 10%;
  margin-top: 5px;
}


#dist-input {
  align-self: flex-end;
  width: 300px;
}

#new-result-form > div:nth-of-type(3) {
  grid-row: 4 / span 1;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#new-result-form > div:nth-of-type(4) {
  grid-row: 4 / span 1;
  grid-column: 2 / span 1;
  height: 70%;
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.comment-box {
  width: 100%;
}

#new-result-form > div:nth-of-type(5) {
  grid-row: 5 / span 1;
  grid-column: 2 / span 1;
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
}

#post-button {
  width: 30%;
  font-family: 'Play', sans-serif;
  font-size: large;
  background-color: white;
}

#post-button:hover {
  width: 30%;
  font-family: 'Play', sans-serif;
  font-size: large;
  background-color: var(--second-purple);
  -webkit-box-shadow: 0 0 10px #fff;
        box-shadow: 0 0 10px #fff;
}


/* FIXED LEFT MENU */

.left-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
}

.left-menu > img {
  border-radius: 50%;
  border: 2px solid var(--main-purple);
  height: 10vmax;
  width: 10vmax;
}

.left-menu > a {
  color: var(--main-purple);
  text-decoration: none;
}



/* USER SHOW PAGE */
.show-header{
  width: 98%;
  height: 14vmax;
  /* background-color: var(--second-purple); */
  background-image: linear-gradient(to right, var(--second-purple), white);
  /* background-color: linear-gradient(45deg, blue, red); */
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  position: relative;
  margin-bottom: 5%;
}

.show-header > img {
  border-radius: 50%;
  border: 3px white solid;
  margin-left: 2%;
  margin-top: 6%;
  height: 12vmax;
  width: 12vmax;
  position: absolute;

}

.my-results-show {
  margin-top: 50px;
}

.user-show-name {
  margin-top: 20%;
  position: absolute;
  margin-left: 3.5%;
}

.result-display-show {
  margin-top: 2%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  width: 1000px;
  background-color: whitesmoke;
  box-shadow: 2px 2px 4px 4px var(--main-purple);
}

.my-results-show > h3{
  width: 100%;
  text-align: center;
}

#show-result-image {
  grid-row: 2 / span 4;
  grid-column: 1 / span 1;
}


.result-display-show > div:nth-of-type(1) {
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
  height: 8%;
}

.result-display-show > div:nth-of-type(3) {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}

.result-display-show > div:nth-of-type(4) {
  grid-row: 2 / span 1;
  grid-column: 3 / span 1;
}

.result-display-show > div:nth-of-type(5) {
  grid-row: 2 / span 1;
  grid-column: 4 / span 1;
}

.show-forms-user {
  grid-row: 2 / span 1;
  grid-column: 5 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
}

