body {
  font: 14px; 
  font-family: 'Play', sans-serif;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

a {
  color: #00B7FF;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

nav {
  /* background-color: rgba(217, 27, 27, 0.906); */
  border-bottom: 1px solid rgba(219, 213, 213, 0.496);
  display: flex;
  width: 100%;
  height: 8vmax;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

nav > a {
  text-decoration: none;
}

h1 {
  display: block;
}

#nav-left {
  font-size: 350%;
  font-weight: 700;
  color: #6a56ac;
  /* text-decoration: none; */
}

#nav-right > a{
  font-size: 120%;
  margin-left: 15px;
  text-decoration: none;
  color: #6a56ac;
}

.login {

}